.headerbar {
  display: flex;
  text-align: center; /*center horizontally*/
  justify-content: space-between; /*buttons at margins*/
  width: 100%;
  background-color: rgba(0, 160, 117, 0.15);
  height: 134px;
}


/*Buttons in header*/
.events-button {
  height: 100%;
  border: none;
  border-radius: 5%;
  padding: 20px 20px;
  font-size: 24px;
  background-color: rgba(0, 160, 117,0);
  color: black;
}

.events-button:hover {
  background-color: #005E52;
  color: white;
  cursor: pointer;
}

/*Logo*/
.logo {
  height: 134px;
  max-width: 220px;
  position: center;
  margin: 20px auto;
  border-radius: 5%;
}

/*centered*/
.logo-box {
  flex: 1;
}

.logo:hover {
  cursor: pointer;
}

.dropdown {
  width: 9%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


