<!--Matchname--->
<div class="matchname-box">
  <h1>{{event.matchName}}</h1>
</div>

<!--eventbody-box is whole body with participation and event--->

<div class="picture-placeholder">
    <img [src]="showImage" alt="Event Image">  <!--picture view just in bytes--->
</div>



<div class="eventbody-box">

  <!-- eventdetails from homepage in box--->

  <div class="matchinfo-box">

     <h3>{{event.matchName}}</h3>
     <p>Datum: <strong>{{event.eventDate | date: 'dd.MM.yyyy'}}</strong></p>
     <p>Uhrzeit: <strong>{{event.eventDate | date: 'HH:mm'}}</strong></p>
     <p>Ort: <strong>{{event.location}}</strong></p>
     <p>Anzahl zu gewinnende Tickets: <strong>{{event.ticketType}} mal {{event.ticketAmount}}</strong></p>
     <p>Deadline: <strong>{{event.deadline | date: 'dd.MM.yyyy'}}</strong></p>

     <div class="matchdetails">
       <p>{{event.matchDetails}}</p>
     </div>
  </div>



  <!--participation --->
  <div class="participation-box">
    <div class="title-box">
      <h2>Teilnahmeformular</h2>
    </div>
    <!--registration-Box-->
    <form class="container" [formGroup]="participationForm" (ngSubmit)="onSubmit()">

      <div>
        <p>Vor- und Nachname<span style="color: red;">*</span></p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="name">
      </div>
      <div>
        <p>E-Mail-Adresse<span style="color: red;">*</span></p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="email">
      </div>
      <div>
        <p>Begleitperson</p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="escortName">
      </div>

      <!--Abschicken-button, to register user in db --->
      <div class="send-box">
        <button class="send-button" type="submit">
          <p class="button-text">Abschicken</p>
        </button>


      </div>
    </form>

    <!--messageShow, if user is already in attendance-table in db--->

    <div class="message-text">
      <p class="success-text" [hidden]="!(messageShow | async)"> Sie haben sich bereits für dieses Event angemeldet.</p>
    </div>

    <!--messageRequires, if user forgot to type in name or email--->

    <div class="message-text">
      <p class="success-text" [hidden]="(messageRequired | async)"> Bitte füllen Sie alle Pflichtfelder aus. </p>
    </div>

  </div>
</div>
