.matchname-box > h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -80px;
}

.eventbody-box {
  width: 100%;
  height: 100%;
}

.picture-placeholder {
  width: 20%;
  height: 230px;
  border-radius: 15px;
  border: 2px #00A075 solid;
  position: relative;
  left: 250px;
  top: 120px;
  margin-bottom: 20px;
}

.matchinfo-box {
  width: 25%;
  height: 280px;
  border-radius: 15px;
  border: 2px #00A075 solid;
  position: relative;
  top: 120px;
  left: 200px;
}

.matchinfo-box > h3 {
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 60px;
  margin-top: 1px;
}

.matchinfo-box > p {
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-top: -10px;
}

.matchdetails > p {
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
}

/*Box with the participation window*/
.participation-box {
  width: 35%;
  height: 450px;
  border: 2px #00A075 solid;
  border-radius: 15px;
  box-shadow: 30px 20px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 1020px;
  margin-top: -370px;
  margin-bottom: 150px;
}

.title-box{
  height: 13%;
  width: 95%;
  margin: auto;
  border-bottom: 1px #4F4343 solid;
}

.title-box > h2 {
  color: black;
  font-size: 26px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

/*participation-box, where user can type in */
.container {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 33% 66%;
  text-align: center;
  align-items: center;
}

.container p {
  color: black;
  font-size: 22px;
}

.input-box{
  width: 330px;
  height: 36px;
  border-radius: 6px;
  margin-top: 4%;
  background: white;
  border: 1px #AAAAAA solid;
}

/*abschicken-button */
.send-box{
  text-align: center;
  margin-top: 50px;
}

button.send-button {
  width: 174px;
  height: 35px;
  background: #00A075;
  margin-top: 0px;
  border-radius: 20px;
  border-color: black;
  transition: background-color 0.3s;
  cursor: pointer;
}

button.send-button:hover {
  font-weight: bold;
}

p.button-text {
  font-size: 15px;
  color: black;
  text-align: center;
  line-height: 0;
  margin-top: 10px;
}

.message-text {
  color: red;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}

