/* title */

.matchname-box > h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-bottom: -2%;
}

/* event-body complete */

.eventbody-box {
  width: 100%;
  height: 100%;
}

.picture-placeholder {
  width: 300px;
  height: 160px;
  border-radius: 15px;
  border: 2px #005E52 solid;
  position: relative;
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
}

img{
  border-radius: 15px;
  width: 300px;
  height: 160px;
}
/* matchdetails-style */

.matchinfo-box {
  width: 25%;
  height: 30%;
  border-radius: 15px;
  border: 2px #005E52 solid;
  margin-top: 2%;
  margin-left: 10%;
}

.matchinfo-box > h3 {
  color: black;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 60px;
  margin-top: 5%;
}

.matchinfo-box > p {
  color: black;
  font-size: 16px;
  margin-left: 20px;
  margin-top: -10px;
}

.matchdetails > p {
  color: black;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
}

/*Box with the participation window */
.participation-box {
  width: 35%;
  border: 2px #005E52 solid;
  border-radius: 15px;
  box-shadow: 30px 20px 30px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 57%;
  margin-top: -22%;
  margin-bottom: 5%;
}

.title-box {
  height: 13%;
  width: 95%;
  margin: auto;
  border-bottom: 1px #4F4343 solid;
}

.title-box > h2 {
  color: black;
  font-size: 26px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-top: 2%;
}


/*participation-box, where user can type in */
.container {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 33% 66%;
  text-align: center;
  align-items: center;
}

.container p {
  color: black;
  font-size: 22px;
  margin-top: 10%;
}

.input-box {
  width: 75%;
  height: 36px;
  border-radius: 6px;
  margin-top: 4%;
  background: white;
  border: 1px #AAAAAA solid;
}

/*abschicken-button */
.send-box {
  height: 60px;
  margin-left: 110%;
  margin-top: 25%;
  margin-bottom: 15%;
}


button.send-button {
  width: 174px;
  height: 60px;
  background: #005E52;
  border-radius: 20px;
  border-color: black;
  transition: background-color 0.3s;
  cursor: pointer;
}

button.send-button:hover {
  font-weight: bold;
}

p.button-text {
  color: white !important;
}

.message-text {
  color: red;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 3%;
  font-style: italic;
  margin-bottom: 2%;
}

