<!--Matchname--->
<div class="matchname-box">
  <h1>HSV vs. Fortuna Düsseldorf</h1>
</div>

<!--eventbody-box is whole body with participation and event--->

<div class="picture-placeholder">
  <p>Foto einfügen</p>
</div>

<div class="eventbody-box">

  <div class="matchinfo-box">
    <!-- <app-current-event-box *ngFor="let entry of (events$ | async)" event="{{entry}}"> </app-current-event-box> --->

    <h3>HSV vs. Fortuna Düsseldorf</h3>
    <p>Datum: <strong>14.07.2024</strong></p>
    <p>Uhrzeit: <strong>14:00 uhr</strong></p>
    <p>Ort: <strong>Volksparkstadion</strong></p>
    <p>Anzahl zu gewinnende Tickets: <strong>2 mal 10</strong></p>
    <p>Deadline: <strong>30.07.2024</strong></p>

    <div class="matchdetails">
      <p>Das Derby nach so vielen Jahren, welches sooo wichtig ist!!!</p>
    </div>
  </div>


  <!--Teilnahmeformular--->
  <div class="participation-box">
    <div class="title-box">
      <h2>Teilnahmeformular</h2>
    </div>
    <!--registration-Box-->
    <form class="container" [formGroup]="participationForm" (ngSubmit)="onSubmit()">

      <div>
        <p>Vor- und Nachname</p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="name">
      </div>
      <div>
        <p>E-Mail-Adresse</p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="email">
      </div>
      <div>
        <p>Begleitperson</p>
      </div>
      <div>
        <input class="input-box" type="text" formControlName="escortName">
      </div>
      <!--Abschicken-button, disable if type invalid--->
      <div class="send-box">
        <button class="send-button" type="submit" [disabled]="!participationForm.valid">
          <p class="button-text">Abschicken</p>
        </button>

      </div>
    </form>
    <!--message-text, if user is already in attendance-table in db--->

    <div class="message-text">
      <p class="success-text" [hidden]="!(isLoggedIn | async)"> Sie haben sich bereits für dieses Event angemeldet.</p>
    </div>

  </div>
</div>
