
<!--Current Events Title-->
<div class="title-box"><h1>Aktuelle Events</h1></div>


<!--Integrated CurrentEventBox Component-->
<div class="event-container">
 <div *ngFor="let event of (actualEvents$ | async)">
  <app-current-event-box [event]="event"></app-current-event-box>

   <!--Infotext when there are no future events-->
  <div class="infotext" *ngIf="((actualEvents$ | async)?.length) === 0">Es gibt keine Events, für die Sie sich aktuell anmelden können.</div>
 </div>
</div>

<!--Distance Current/Future Events-->
<div class="placeholder-large"></div>

<!--Future Events-->
<div class="title-box"><h1>Zukünftige Events</h1></div>

<div class="event-container">
<div class="future-event-box" *ngFor="let event of (futureEvents$ | async)" >
  <div class="information-event-box"> {{event.matchName}} am {{event.eventDate | date: 'dd.MM.yyyy'}}
  </div>
  <div class ="event-image" *ngIf="event.picture">
    <img [src]="transform(event.picture)" alt="Event Image">
  </div>

  <!--Infotext when there are no future events-->
</div>
  <div class="infotext" *ngIf="((events$ | async)?.length) === 0">Bald wird es wieder eine Eventvorschau geben.</div>
</div>

<!--Distance Future Events/End of Page-->
<div class="placeholder-end"></div>
