<h1>{{message}}</h1>
<button type="button" (click)="updateMessage()">update</button>
<a routerLink="['/eventpage']">go to child</a>

<!--Current Events Title-->
<div class="title-box"><h1>Aktuelle Events</h1></div>


<!--Integrate CurrentEventBox Component-->
<div class="event-container">

<app-current-event-box *ngFor="let entry of (events$ | async)" event="{{entry}}"> </app-current-event-box>
</div>

<!--Distance Current/Future Events-->
<div class="placeholder-large"></div>

<!--Future Events-->
<div class="title-box"><h1>Zukünftige Events</h1></div>

<div class="placeholder-event-boxes"></div>
<div class="future-event-box" >
  <div class="information-event-box"> </div>
  <div class="event-image"> </div>
</div>


<!--Distance Future Events/End of Page-->
<div class="placeholder-end"></div>
