
<!--Current Events Title-->
<div class="title-box"><h1>Aktuelle Events</h1></div>


<!--Integrate CurrentEventBox Component-->
<div class="event-container" *ngFor="let event of (events$ | async)">
  <app-current-event-box [event]="event"></app-current-event-box>
  <div *ngIf="(events$ | async)?.length === 0">Es gibt keine Events, für die Sie sich aktuell anmelden können.</div>
</div>

<!--Distance Current/Future Events-->
<div class="placeholder-large"></div>

<!--Future Events-->
<div class="title-box"><h1>Zukünftige Events</h1></div>

<div class="event-container">
<div class="future-event-box" >
  <div class="information-event-box" *ngFor="let event of (events$ | async)"> {{event.matchName}} am {{event.eventDate | date: 'dd.MM.yyyy'}}
    <ng-container *ngIf="filterFutureEvents(event.registrationDate)">
      {{event.matchName}} am {{event.eventDate | date: 'dd.MM.yyyy'}}
    </ng-container>
  </div>
  <!--<div *ngIf='(events$ | async)?.length === 0'>Es gibt keine Events, für die Sie sich aktuell anmelden können.</div>-->

  <div class="event-image"> </div>
</div>
</div>

<!--Distance Future Events/End of Page-->
<div class="placeholder-end"></div>
