.content-container {
  padding-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 5% 0;
}

.information-field {
  flex: 0 0 50%;
  max-width: 50%; /* Set the maximum width to 50% */
  flex-wrap: wrap; /* Allows the content to wrap to the next line */
}


.information-header {
  border-bottom: 1px solid grey;
  width: 40%;
  text-align: center;
  float: left;
}

.information-data {
  padding-right: 5%;
}


.information-header-description {
  margin-bottom: 5%;
  border-bottom: 1px solid grey;
  width: 35%;
  text-align: center;
}

.information-data-description {
  padding-right: 5%;
  text-align: center;
}

.information-data-description p {
  word-wrap: break-word; /* Break the word to the next line if it overflows the container */
}

img {
  height: 150px;
  width: 300px;
}

mat-expansion-panel {
  border-radius: 15px;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem .8rem #0005;
}
