.container {
  background-color: #fff5;
  width: 90%;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem .8rem #0005;
  border-radius: .8rem;
  margin: 10px auto auto;
  padding-bottom: 20px;
}

.container-header {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.container-body {
  padding-top: 20px;
  padding-left: 20px;
}

div, form {
  /*border: 1px solid black;*/
}
