.container {
  background-color: #fff5;
  width: 90%;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem .8rem #0005;
  border-radius: .8rem;
  margin: 50px auto auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container-header {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.container-body {
  padding: 20px 20px 0;
}

/*Zeilen im Formular mit Flex Layout*/
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/*Im Flex-Layout gibt es drei Spalten*/
.row .form-group {
  flex: 0 0 30%;
  text-align: center;
}

/*Design des Erstellen und Abbrechen Buttons*/
.container-body .form-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #00A075;
  color: white;
  cursor: pointer;
  margin-right: 2%;
  width: 40%;
}

/*Design vom Zeitpunkt Input Feld*/
.input-wrapper {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-wrapper::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.input-wrapper input:focus::after {
  visibility: visible;
  transform: scaleX(1);
}

.input-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
}
