<div class="login-box">
  <div class="title-box">
    <h1>Admin-Anmeldung</h1>
  </div>
  <!--Form-Box-->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      <div class="label-container">
        <p>Benutzername</p>
      </div>
      <div class="input-container">
        <input class="input-box" type="text" formControlName="username">
      </div>
      <div class="label-container">
        <p>Passwort</p>
      </div>
      <div class="input-container">
        <input class="input-box" type="password" formControlName="password">
      </div>
    </div>
    <!--Login-Button--->
    <div class="send-box">
      <button class="send-button" type="submit">
        <p class="button-text">Anmelden</p>
      </button>
      <!--Message when you use false credentials-->
      <p class="warn-text" [hidden]="(messageShow | async)">Die Anmeldedaten sind falsch.</p>
    </div>
  </form>
</div>
