.title-box {
  text-align: center;
  width:100%;
  margin: 100px auto;
}

h1 {
  font-size: 32px;
  color:  black;
}

.raffle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
}

.event-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.event-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-right: 40px;
  height: 100px;
  width: 390px;
  border: #005E52 solid 2px;
  border-radius: 5%;
  padding-top: 15px;
}

.information-event-box {
  height: 39px;
  width: 373px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.raffle-button {
  position: absolute; /*placed at bottom*/
  background-color: #005E52;
  color: #ffffff;
  border: 2px solid #005E52;
  border-radius: 10%;
  width: 220px;
  height: 45px;
  bottom: 15px;
  font-size: 20px;
  align-items: center; /*text vertically centered*/
  display: flex;
  justify-content: center; /*text horizontally centered*/
}

.raffle-button:hover {
  cursor: pointer;
}

.winner-output {

  justify-content: flex-start;
  margin-top: 50px;
  width: auto;
  height: auto;
  padding: 15px;
  font-size: 24px;
  float: left;
  padding-top: 20px;
  margin-bottom: 50px;
  border-radius: 10%;
}

.bold {
  font-weight: bold;
  margin-bottom: 20px;
}

p.winner-names {
  color: black;
  margin-bottom: 20px;
}
