.pop-up {
  width: 400px;
  height: 180px;
}

h1 {
  text-align: center;
}

div [mat-dialog-actions] {
  display: flex;
  justify-content: center;
}

:host >>> snack-bar-container.custom-class {
  background: white;
}

:host >>> .custom-class .mat-simple-snackbar {
  color: #00A075;
}
