.placeholder-event-boxes {
  height: 217px;
  width: 350px;
  float: left;
}


.event-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-right: 40px;
  height: 250px;
  width: 390px;
  border: 2px solid black;
  border-radius: 5%;
  padding-top: 15px;
}

.event-image {
  border: 1px solid black;
  width: 300px;
  height: 130px;
  float: left;

}

.information-event-box {
  height: 39px;
  width: 373px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.participation-button {
  position: absolute; /*placed at bottom*/
  background-color: #005E52;
  color: #ffffff;
  border: 2px solid #005E52;
  border-radius: 10%;
  width: 220px;
  height: 45px;
  bottom: 15px;
  font-size: 20px;
  align-items: center; /*text vertically centered*/
  display: flex;
  justify-content: center; /*text horizontally centered*/
}

.participation-button:hover {
  cursor: pointer;
}
