<!--Event Box-->
<div class="event-box">
  <div class="information-event-box"> <!--*ngFor="let entry of matches">
    HSV vs. {{ entry.opponent }} am {{ entry.date | date:'dd.MM.yyyy'}} -->
  </div>
  <div class="event-image"> <!-- *ngFor="let picture of Event-HSV">
      {{ picture }} -->
  </div>
  <div class="participation-button" routerLink=" ">Zur Teilnahme</div>
</div>

<!--Placeholder-->
<div class="small-placeholder-event-boxes"></div>

<!--Event Box-->
<div class="event-box">
  <div class="participation-button">Zur Teilnahme</div>
</div>

<!--Placeholder-->
<div class="small-placeholder-event-boxes"></div>

<!--Event Box-->
<div class="event-box">
  <div class="participation-button">Zur Teilnahme</div>
</div>

<!--Placeholder-->
<div class="placeholder-event-boxes"></div>

