<div class="grid-container">
  <div></div>
  <!--list of events-->
  <div>
    <mat-tab-group mat-align-tabs="center">
      <!--going through all actual events-->
      <mat-tab label="Aktuelle Events">
        <router-outlet></router-outlet>
        <div *ngIf="((actualEvents$ | async)?.length) === 0"><h3>Es sind keine aktuellen Events vorhanden</h3></div>
        <div class="event-list" *ngFor="let actualEvent of (actualEvents$ | async)">
          <app-edit-option [event]=actualEvent></app-edit-option>
          <app-event-detail [event]=actualEvent></app-event-detail>
        </div>
      </mat-tab>
      <!--going through all future events-->
      <mat-tab label="Zukünftige Events">
        <div *ngIf="((futureEvents$ | async)?.length) === 0"><h3>Es sind keine zukünftigen Events vorhanden</h3></div>
        <div class="event-list" *ngFor="let futureEvent of (futureEvents$ | async)">
          <app-edit-option [event]=futureEvent></app-edit-option>
          <app-event-detail [event]=futureEvent></app-event-detail>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <!--button for adding events-->
  <div>
    <button class="button-icon" [routerLink]="['edit-event']">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>
