<!--Terms and Conditions-->
<div class="title-box"><h1>Teilnahmebedingungen</h1></div>

<div class="textbox"> Wir freuen uns, dass Sie an den Gewinnspielen für die HSV-Heimspiele teilnehmen möchten. Bitte nehmen Sie die folgenden Teilnahmebedingungen zur Kenntnis:
  <br><br>
  <p class="boldtext">1.	Verlosungssperre: </p> Wenn ein Teilnehmer bereits 2x Tickets gewonnen hat, ist dieser Teilnehmer für die nächsten drei aufeinanderfolgenden Verlosungen gesperrt. Dies dient der Chancengleichheit und ermöglicht anderen Teilnehmern die Möglichkeit, ebenfalls zu gewinnen. <br><br>
  <p class="boldtext">2.	Teilnahmefrist: </p> Die Teilnahmefristen sind in den jeweiligen Ankündigungen angegeben. Bitte beachten Sie die angegebene Frist, um gültig teilzunehmen. <br><br>
  <p class="boldtext">3.	Gewinnerbenachrichtigung: </p> Die Gewinner werden per E-Mail benachrichtigt. <br><br>
  <p class="boldtext">4.	Datenschutz: </p>Wir respektieren Ihre Privatsphäre. Alle persönlichen Daten, die im Rahmen dieses Gewinnspiels erfasst werden, unterliegen unserer Datenschutzrichtlinie. <br><br>
  <p class="boldtext">5.	Rechtsweg: </p>Der Rechtsweg ist ausgeschlossen. <br><br><br><br>
  Bitte beachten Sie, dass Sie durch die Teilnahme an diesem Gewinnspiel diese Teilnahmebedingungen akzeptieren. Wir wünschen Ihnen viel Glück und Freude an der Teilnahme!
</div>
